/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/ClientSide/css.css to edit this template
*/
/* 
    Created on : 6 Apr 2024, 4:42:02 am
    Author     : Mark
*/

:root {
  font-family: Inter, sans-serif;
  font-feature-settings: 'liga' 1, 'calt' 1; /* fix for Chrome */
}
@supports (font-variation-settings: normal) {
  :root {
    font-family: InterVariable, sans-serif;

  }
}

body {
  font-family: 'Inter';
}

.bold-text {
  font-weight: bold; /* Specify bold font weight */
}

.carousell-img {
  width: 100%;
  height: 100vh; /* set the height of the carousel item to 100% of the viewport height */
  object-fit: cover;
}

.front-img {
  width: 100%;
  height: 100vh; /* set the height of the carousel item to 100% of the viewport height */
  object-fit: cover;
}

.model-left{
  background-repeat: no-repeat;
  background-size: cover;
}

.video-container {
  width: 100vw;
  height: 100vh; /* Adjust the height as needed */
  overflow: hidden;
}

.video-container video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
