/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/ClientSide/css.css to edit this template
*/
/* 
    Created on : 29 Apr 2024, 6:17:54 am
    Author     : Mark
*/

.navbar-logosize{
        font-size: 2em;
}

.nav-icons {
  font-size: 20px;
  transition: all 0.5s;
  color: #FBFBFB;
}

.navbar {
  transition: all 0.5s;
}

.nav-link {
  transition: all 0.5s;
}

.navbarScrolled {
  background: white;
}

