/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/ClientSide/css.css to edit this template
*/
/* 
    Created on : 6 Apr 2024, 4:42:02 am
    Author     : Mark
*/

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    list-style: none;
    text-decoration: none;
    scroll-behavior: smooth;    
}
:root{
    --bg-color: #ffffff;
    --text-color: #111111;
    --main-color: #c8815f;
    --big-font: 4.5rem;
    --h2-font: 3.3rem;
    --h3-font: 2rem;
    --normal-font: 1rem;        
}

body{
    background: var(--bg-color);
    color: var(--text-color);
}
section{
    padding: 100px 14%;
}
.home{
    min-height: 100vh;
    width: 100%;
    background: url(../img/background.jpg);
    background-size: cover;
    background-position: center-top;
    position: relative;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    align-items: center;              
}
.home-text h1{
    font-size: var(--big-font);
    font-weight: 800;
    line-height: 1.2;
    letter-spacing: .6rem;
    margin-bottom: 1.4rem;
}
.home-text{
    font-size: var(h2-font);
}
.home-text p{
    font-size: var(--normal-font);
    font-weight: 500;
    margin-bottom: 3rem;
    letter-spacing: .2rem;
}
section .btn{
    display: inline-block;
    padding: 13px 25px;
    background: var(--main-color);
    color: var(--bg-color);
    font-size: 15px;
    letter-spacing: 1px;
    font-weight: 600;
    border-radius: 5px;
    transition: all .35s ease;
}
section .btn:hover{
    transform: translateY(-5px);
    background: var(--text-color);
}
.center-text{
    text-align: center;
}
.center-text h1{
    font-size: var(--h2-font);
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: 0;
    margin-bottom: 1.4rem;
}   
.center-text h2{
    font-size: var(--h2-font);
}
.featured-content{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, auto));
    gap: 1.3rem;
    align-items: center;
    margin-top: 4rem;
}
.row{
    position: relative;
    transition: all .35s ease;
}
.row img{
    width: 100%;
    height: auto;               
}
.fea-text{
    position: absolute;
    top: 40px;
    left: 50px;
}
.fea-text h5{
    font-size: var(--h1-font);
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: 0;
    margin-bottom: 1rem;
}
.fea-text p{
    color: #555;
    font-size: 15px;
    letter-spacing: 1px;
    font-weight: 400;
}
.row .arrow{
    position: absolute;
    bottom: 40px;
    left: 50px;
}
.row .arrow i{
    height: 35px;
    width: 35px;
    background: var(--bg-color);
    border-radius: 50%;
    font-size: 20px;
    color: var(--text-color);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    transition: all .35s ease;    
}
.row:hover{
    transform: translateY(-10px);
    transform: scale(0.9);
    cursor: pointer;
}
.row:hover i{
    background: var(--main-color);
    color: var(--bg-color);
}

.cta{
    height: 60vh;
    width: 100%;
    background: url(../img/background.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;       
}
.cta-text h6{
    font-size: 17px;
    font-weight: 500;
    letter-spacing: .6px;
    margin-bottom: 14px;
}
.cta-text h4{
    font-size: 3.3rem;
    line-height: 1.2;
    letter-spacing: .6rem;
    margin-bottom: 30px;
}

.new-content{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, auto));
    gap: 1.3rem;
    align-items: center;
    margin-top: 4rem;
    text-align: center;
}
.box{
    position: relative;
    transition: all .40s ease;
}
.box img{
    width: 100%;
    height: auto;
    margin-bottom: 20px;
    border-radius: 10px;
}
.box h5{
    font-size: 16px;
    font-weight: 600;
    margin-bottom:10px;
}
.box h6{
    font-size: 16px;
    font-weight: 700;
}
.sale{
    position: absolute;
    top: 0;
    left: 0;
    width: 60px;
    height: 30px;
    background: var(--main-color);
    color: var(--bg-color);
    display: inline-flex;
    align-items: center;
    justify-content: center;
}
.box:hover{
    transform: translateY(-5px);
    transform: scale(0.9);
    cursor: pointer;
}