/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 26 Apr 2024, 5:53:00 pm
    Author     : Elthan
*/

:root {
  font-family: Inter, sans-serif;
  font-feature-settings: 'liga' 1, 'calt' 1; /* fix for Chrome */
}
@supports (font-variation-settings: normal) {
  :root {
    font-family: InterVariable, sans-serif;

  }
}

body {
  font-family: 'Inter';
  padding-top: 115px;
}

.signup{
  width: 40%;
  height: 100%;
  margin: auto;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: whitesmoke;
  border-radius: 10px;
  align-content: center;
}

h1{
  text-align: center;
  padding-top: 15px;

}

.signup form{
  width: 400px;
  margin: auto;
  align-content: center;

}

form label{
  display: flex;
  margin-top: 20px;
  font-size: 18px;
}

form input{
  width: 100%;
  padding: 5px;
  border: none;
  border: 1px solid gray;
  border-radius: 6px;
  outline: none;
}


.signup .btn {
  width: 400px;
  height: 35px;
  margin-top: 30px;
  margin-bottom: 30px;
  border: none;
  background-color: black;
  color: white;
  font-size: 16px;
  border-radius: 5px;
  align-content: center;
}

.signup span{
  color: red;
  font-size: 15px;
}


