/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/ClientSide/css.css to edit this template
*/
/* 
    Created on : 29 Apr 2024, 6:46:04 am
    Author     : Mark
*/

.footer-logosize {
  font-size: 2.1em;
}

.footer-icons {
  font-size: 20px;
}
