/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 26 Apr 2024, 5:53:00 pm
    Author     : Elthan
*/

:root {
  font-family: Inter, sans-serif;
  font-feature-settings: 'liga' 1, 'calt' 1; /* fix for Chrome */
}
@supports (font-variation-settings: normal) {
  :root {
    font-family: InterVariable, sans-serif;

  }
}

body {
  font-family: 'Inter';
  padding-top: 120px; /* Adjusted padding for better alignment */
}

.signup-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

/* Default styles */
.signup-form {
  width: 100%;
  max-width: 400px;
  padding: 20px;
}

.signup-img {
  background-image: url('../img/signup/maloi_wow.jpg');
  background-size: cover;
  background-position: 25%;
  width: 100%;
}

h1 {
  text-align: left;
  padding-top: 15px;
  padding-bottom: 20px;
}

.signup-form form label {
  display: block;
  margin-top: 20px;
  font-size: 18px;
}

.signup-form form input {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  border: 1px solid gray;
  outline: none;
  box-sizing: border-box;
}

.signup-form .btn {
  width: 100%;
  height: 40px;
  margin-top: 20px;
  border: none;
  background-color: black;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

.signup-form span {
  color: red;
  font-size: 15px;
}

/* Media query for PC */
@media only screen and (min-width: 768px) {
  .signup-form {
    padding: 25px; /* Increased padding for a thicker box */
    max-width: 600px; /* Increased max-width for larger screens */
    border: 1px solid #E0E0E0;
    border-right: 1px;
  }

  .signup-img{
    max-width: 400px; /* Increased max-width for larger screens */
  }

  .signup-form form input {
    background-color: #f7f7f7;
    padding: 10px; /* Increased padding for thicker input fields */
    border: 0px; /* Increased border thickness */
    border-bottom: 1px solid gray; /* Increased border thickness */
  }

  .signup-form .btn {
    height: 45px; /* Increased height for a thicker button */
  }
}

@media only screen and (max-width: 767px) {
  .signup-form {
    border: none; /* Hide border */
  }

  .signup-img {
    display: none; /* Hide signup-img div */
  }
}